
.CProductos{

    margin: 50px auto;
}

.Lfind{
    left: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkcyan;
}

.find{
    border-radius: 5px;
    display: block;
}

.insertar{
  
    margin: 0% 10% auto auto;
    
}

.thead-dark{
    background-color:  thead-dark;
}